h1 {
  font-size: 28px;
  color: blue;
  text-align: center;
}
.container-md {
  border: dashed;
  border-color: grey;
  padding: 20px;
  border-radius: 25px;
}

.col-md-12{
  display: contents;
}
  align-content: center;
}

#btn1 {
  justify-content: start;
}
#btn2 {
  justify-content: end;
}
